html
    head
        title Main Menu
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
 
            div#middle(class = 'column middle')
                h1 Title:#{artData.Title}
                h3 Artist Name:
                |
                a(href = `/artist/${id}`) #{artData.Artist}
                h3 Year:#{artData.Year}
                h5 Description:#{artData.Description}
                h5 Medium:#{artData.Medium}
                h5 Category:#{artData.Category}
                
                img(src= artData.Poster, alt='Art Work', width = 700 vw, height = 800 vw; position: "absolute")

                
            div#right(class = 'column right')
                h3 Likes = #{i}
                
                div.button1
                    button#like(type = "button" onclick="likes()") Like

                h3 Add review: 

                input#comments(type='text', name='comments')
                
                div.button1
                    button#submit(type = "button" onclick="comment()") Comment

                h3 Reviews
                ul
                each j in reviews 
                    li #{j}
        script(src = "/galleryData.js")


