html
    head
        title Profile
        link(rel = "stylesheet" type = "text/css" href = "/styles.css")
    body
        include ../views/links
        div#info 
        div#main
            div#left(class = 'column left')
                h1 Account Type: 
                if data3.artists 
                    h1 Artist 
                else
                    h1 Patron 
                br
                h1 Change Account
                div.button1
                    button#addart(type = "button" onclick="switchAccount()") Switch Account
            div#middle(class = 'column middle')

                h1 Likes
                each i in data1
                    h5 Artwork: #{i.title}
                    div.button1 
                        button#a(type = "button" onclick=`removeLike('${i.title}')`) Remove

                h1 Reviews
                each i in data2
                    h5 Comments: #{i.comments}
                    div.button1 
                        button#b(type = "button" onclick=`removeComment('${i.comments}')`) Remove 

                
                h1 Followed
                each i in data4 
                    h5 Artist Name: #{i.userFollowed}
                    h5 Notification:
                    each j in i.noti 
                        h5 #{j}
                    
                
                    div.button1
                        button#unfollow(type = "button" onclick=`unfollow('${i._id}')`) Unfollow
            div#right(class = 'column right')
                div.button1
                    button#logout(type = "button" onclick=`logout()`) Log out
    script(src = "/profile.js")